<form class="directory-create-form mt-2" data-component="directory-create-form">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control directory-create-input" placeholder="New folder name">
        <button type="submit" class="btn btn-primary">
            {{ ux_icon('tabler:check') }}
        </button>
        <button type="button" class="btn btn-secondary directory-create-cancel-btn">
            {{ ux_icon('tabler:x') }}
        </button>
    </div>
</form>
