/* ==========================================================================
   Box
   ========================================================================== */

/* Custom properties
   ========================================================================== */


/* Rules
   ========================================================================== */

.jm-box {
  border: solid var(--gray-200) 1px;
  padding: 0.625rem;
  border-radius: 0.25rem;
  background-color: var(--gray-50);
}
