/* ==========================================================================
   Base
   ========================================================================== */

/* Rules
   ========================================================================== */

.breadcrumb-item--ellipsis {
  max-width: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 