/* ==========================================================================
   New Directory Form
   ========================================================================== */

/* Custom properties
   ========================================================================== */

.new-directory-container {
  --new-directory-color: var(--jm-dropzone-color);
  --new-directory-background-color: var(--jm-color-gray-100);
}

[data-bs-theme="dark"] {
  .new-directory-container {
    --new-directory-background-color: var(--true-gray-800);
    --new-directory-color: var(--jm-color-gray-100);
  }
}

/* Rules
   ========================================================================== */

.new-directory-container {
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  min-height: auto;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  color: var(--new-directory-color);
  background-color: var(--new-directory-background-color);
  border: dashed 1px var(--jm-dropzone-border-color);
  border-radius: 4px;
  z-index: 100;

  &.new-directory-active {
    display: block;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  input[type=text] {
    flex-grow: 1;
    margin-right: 1.5rem;
  }
}
