/* ==========================================================================
   Rename directory form
   ========================================================================== */

/* Custom properties
   ========================================================================== */

.rename-directory-container {
  --rename-directory-color: var(--jm-dropzone-color);
  --rename-directory-background-color: var(--jm-color-gray-100);
  --rename-directory-border-color: var(--jm-dropzone-border-color);
}

[data-bs-theme="dark"] {
  .rename-directory-container {
    --rename-directory-color: var(--jm-color-gray-100);
    --rename-directory-background-color: var(--true-gray-800);
    --rename-directory-border-color: var(--jm-color-gray);
  }
}

/* Rules
   ========================================================================== */

.rename-directory-container {
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  min-height: auto;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  color: var(--rename-directory-color);
  background-color: var(--rename-directory-background-color);
  border: dashed 1px var(--rename-directory-border-color);
  border-radius: 4px;
  z-index: 100;

  &.rename-directory-active {
    display: block;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  input[type=text] {
    flex-grow: 1;
    margin-right: 1.5rem;
  }
}
