parameters:
	ignoreErrors:
		-
			message: '#^Method JoliCode\\MediaBundle\\Storage\\OriginalStorage\:\:getPixelDimensions\(\) should return array\{height\: int, width\: int\}\|false but returns array\{height\: int, width\: int\}\|bool\.$#'
			identifier: return.type
			count: 1
			path: src/Storage/OriginalStorage.php
