<div class="col-9">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                {% hook 'tabs.header' %}
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                {% hook 'tabs.content' %}
            </div>
        </div>
    </div>
</div>
