{% trans_default_domain 'JoliMediaSyliusAdminBundle' %}

{% set config = hookable_metadata.context.config %}
{% set media = hookable_metadata.context.media %}

{% if config.isVisible('show_html_code') %}
    <div class="data-row">
        <dt class="mb-1">HTML</dt>
        <dd class="d-flex align-items-start jm-box">
            <pre class="flex-fill mb-0"><code id="media-html-code" class="long-text-break">
                {{- include('@JoliMediaSyliusAdmin/_as_html.html.twig')|escape -}}
            </code></pre>
            <button
                    class="btn btn-sm clipboard-btn"
                    data-clipboard-target="#media-html-code"
                    data-clipboard-copied="{{ 'action.copied'|trans }}"
                    role="button"
                    tabindex="0"
            >
                {{ ux_icon('tabler:copy') }}
                <span class="btn-label">{{ 'action.copy'|trans }}</span>
            </button>
        </dd>
    </div>
{% endif %}
