{% set key = app.request.attributes.get('key', '') %}

{% if key != '' %}
    {% set message = action.label %}
    {% if message is empty %}
        {% set message = 'sylius.ui.update' %}
    {% endif %}

    <a href="#" class="btn directory-rename-header-btn" data-component="directory-rename">
        {{ ux_icon(action.icon|default('tabler:pencil'), {'class': 'icon dropdown-item-icon'}) }}
        {{ message|trans }}
    </a>
{% endif %}