/* ==========================================================================
   Media Choice
   ========================================================================== */

/* Custom properties
   ========================================================================== */

.media-choice {
  --media-preview-max-width: 12.5rem;
  --media-preview-aspect-ratio: initial;
}

/* Rules
   ========================================================================== */

.media-choice {
  input {
    display: none;
  }

  &.empty .hide-when-empty {
    display: none;
  }
}
