/* ==========================================================================
   Uploader
   ========================================================================== */

/* Rules
   ========================================================================== */

.uploader-container {
  display: none;
  top: 100%;
  left: 0;
  right: 0;

  &[data-active] {
    display: block;
  }

  input[type=file] {
    display: none;
  }
}

.uploader {
  display: flex;
  flex-wrap: wrap;
  min-height: auto;
  margin-top: 1rem;
  color: var(--jm-uploader-color);
  background-color: var(--jm-color-gray-100);
  border: dashed 1px var(--jm-uploader-border-color);
  border-radius: 4px;
  z-index: 100;
}

.uploader-message {
  cursor: pointer;
  font-size: 1.4375rem;
  padding: 5rem 1.25rem;
  margin: 0;
}

.uploader-button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.uploader[data-started] .uploader-message {
  display: none;
}

.uploader-preview-details {
  font-size: 15px;
}

.uploader .uploader-preview {
  width: 180px;

  .uploader-progress {
    height: 10px;
    border: none;
    border-radius: 5px;
    overflow: hidden;

    .uploader-progress-bar {
      background-color: var(--jm-color-green);
    }
  }

  &[data-complete] {
    .uploader-progress {
      display: none;
    }
  }

  .uploader-error-marker {
    color: var(--jm-color-red);
    display: none;
    margin-right: .25rem;
  }

  .uploader-success-marker {
    color: var(--jm-color-green);
    display: none;
    margin-right: .25rem;
  }

  &[data-status="error"] {
    .uploader-error-marker {
      display: inline-block;
    }

    .uploader-error-message {
      display: block;
      font-size: 0.875rem;
      color: var(--jm-color-red);
    }

    .uploader-preview-image.media-preview {
      display: none;
    }
  }

  &[data-status="success"] .uploader-success-marker {
    display: inline-block;
  }

  a[data-upload-link] {
    flex-wrap: wrap;
    place-content: center;
    align-items: center;
    display: flex;
    width: 180px;
    height: 109px;
  }
}

.uploader-preview-template {
  display: none;
}
