{% trans_default_domain 'JoliMediaSyliusBundle' %}

{% set media = hookable_metadata.context.media %}

<div class="data-row">
    <dt class="mb-1">{{ 'media.type.label_long'|trans }}</dt>
    <dd class="d-flex align-items-start" {{ sylius_test_html_attribute('media-file-type') }}>
        {{ 'media.type.%s'|format(media.fileType)|trans }}
    </dd>
</div>
