{% trans_default_domain 'JoliMediaSyliusBundle' %}

{% set media = hookable_metadata.context.media %}

<div class="data-row">
    <dt class="mb-1">{{ 'media.size.label_long'|trans }}</dt>
    <dd class="d-flex align-items-start">
        {{ media.fileSize|joli_media_admin_readable_filesize }}
    </dd>
</div>
