{% set config = hookable_metadata.context.config %}
{% set media = hookable_metadata.context.media %}

{% set show_tabs = config.isVisible('show_variations_list') and media.variations|length > 0 %}

{% if show_tabs%}
    <li class="nav-item">
        <a href="#tabs-variations" class="nav-link" data-bs-toggle="tab">Variations</a>
    </li>
{% endif %}
