{% import ['@SyliusBootstrapAdminUi/shared/helper/header.html.twig', '@SyliusAdmin/shared/helper/header.html.twig'] as header %}

{% trans_default_domain 'JoliMediaSyliusAdminBundle' %}

{% set header = hookable_metadata.configuration.title|default(null) %}
{% set subheader = hookable_metadata.configuration.subheader|default(null) %}
{% set icon = hookable_metadata.configuration.icon|default(null) %}

<div class="col-12 col-md">
    <div class="d-md-flex gap-2 align-items-center">
        {{ header.h1(header|trans, icon, subheader|trans) }}
    </div>
</div>