{% set config = hookable_metadata.context.config %}
{% set media = hookable_metadata.context.media %}

{% set show_tabs = config.isVisible('show_variations_list') and media.variations|length > 0 %}

{% if show_tabs %}
    <div class="tab-pane show" id="tabs-variations">
        {% hook 'variations' %}
    </div>
{% endif %}